data_input_excel_to_db 버전에서는 db 갯수 조회와 add하는것을 적용시켰다.

data_input_excel_to_db_02 버전에서는 기존 db 갯수 조회 및 삭제, 이후 add 시키는것을 적용시킨다.

▼▼▼ 이하 예제 시작(question_list에 적용하는것 => ss_project 적용)

In [ ]:
#데이터 삭제 구현 완료 , 중간 하드코딩 건너띄고, 연속 데이터 입력 적용 확인

In [42]:
from pybo.models import Question
from pybo import db

from flask import Blueprint, url_for, render_template, flash, request, session

from werkzeug.security import generate_password_hash, check_password_hash
from werkzeug.utils import redirect

from flask import Flask
from flask_migrate import Migrate
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import MetaData
import config

import pybo

from openpyxl import load_workbook
from datetime import datetime
from pybo import db, create_app

from pybo import create_app
pybo = create_app()
pybo.app_context().push()

In [43]:
print(Question.query.count())

899

In [44]:
app = Flask(__name__)
app.config.from_object(config)
    #app.config 환경 변수로 부르기 위해 app.config.from_object(config)코드를 추가함

In [ ]:
# 데이터 삭제시 각 내용을 리스트화 해서 id값이 다르게 점프해도 삭제할수 있도록

In [30]:
query_list_00=Question.query.all()

In [32]:
len(query_list_00)

899

In [33]:
query_list_00[0]

In [20]:
query_test=Question.query.get(1000)
print(query_test)

<Question 1000>

In [ ]:
# 데이터 삭제시 각 내용을 리스트화 해서 id값이 다르게 점프해도 삭제할수 있도록

In [ ]:
# 개선 내용 테스트 해본다.

In [45]:
### 데이터 삭제 기능 개선_리스트화 적용
data_count = 0
query_list_00=Question.query.all()

with app.app_context():
    print('최초 시작시 Question모델 데이터 개수 : ', Question.query.count())
    query_count_num = Question.query.count()
    
    for query_del_num in range(query_count_num):
        query_del_test = query_list_00[query_del_num]
        db.session.delete(query_del_test)
        db.session.commit()
        db.session.close()
        data_count = data_count+1
    
print("최종 작업 이후 Question모델 데이터 개수 : ", Question.query.count())
print("작업 진행 데이터 개수 : ", data_count)

최초 시작시 Question모델 데이터 개수 :  899
최종 작업 이후 Question모델 데이터 개수 :  0
작업 진행 데이터 개수 :  899

In [38]:
query_list_00=Question.query.all()

In [40]:
d_num_test_shin = 0

for num_test in range(10):
    for_print = query_list_00[num_test]
    print(for_print)
    print(d_num_test_shin)
    d_num_test_shin = d_num_test_shin +1

<Question 1>
0
<Question 2>
1
<Question 3>
2
<Question 4>
3
<Question 5>
4
<Question 6>
5
<Question 7>
6
<Question 8>
7
<Question 9>
8
<Question 10>
9

In [21]:
### 데이터 삭제 기능 시작
data_count = 0

with app.app_context():
    print('최초 시작시 Question모델 데이터 개수 : ', Question.query.count())
    query_count_num = Question.query.count()
    
    for query_del_num in range(1,query_count_num+1):
        query_del_num_01 = Question.query.get(query_del_num) # id값을 cont 값 순번으로 하니 100번, 200번 이런식으로 뛰어넘는 id값을 못잡음
        db.session.delete(query_del_num_01)
        db.session.commit()
        db.session.close()
        data_count = data_count+1

print("최종 작업 이후 Question모델 데이터 개수 : ", Question.query.count())
print("작업 진행 데이터 개수 : ", data_count)

최초 시작시 Question모델 데이터 개수 :  1307
최종 작업 이후 Question모델 데이터 개수 :  0
작업 진행 데이터 개수 :  1307

In [ ]:
### 입력 부분 기능 시작

In [48]:
#하드코딩 입력 테스트
with app.app_context():
    print(Question.query.count())
    try:
        question = Question(our_ref='P209250-DIV1', pay_date='', req_name='서영일/조희정 팀장(김민수(제제))', cus_name='서영일', date='2021-10-18', number='10-2021-0138507', q_date='', q_d_date='', d_d_date='', d_d_num='', p_name='고속으로 공기를 유동시키는 동물용 에어 브러쉬', charge_01='홍성권', charge_02='', p_charge='서평강', create_date=datetime.now())
        #create_date=datetime.now() <-- 적용 성공
        print(question)
        db.session.add(question)
        db.session.commit()
        print(Question.query.count())
        print('question_list 정보를 생성 하였습니다.')
    except:
        db.session.rollback()
        #raise
        print('사용중인 question_list 정보가 있습니다.')
        pass
    finally:
        db.session.close()
    #db.create_all()
print('종료')

1307
<Question (transient 2510857451936)>
사용중인 question_list 정보가 있습니다.
종료

이제 연속해서 하는걸 해보자

In [22]:
from openpyxl import load_workbook

In [23]:
wb = load_workbook(filename='db_test.xlsx')
ws = wb.active
ws

In [24]:
print(Question.query.count())

0

In [25]:
a = 0
with app.app_context():
    print('최초 시작시 Question모델 데이터 개수 : ',Question.query.count())
    for row in range(1, ws.max_row+1):
        try:
            #user = User(username='shin12352', password='shin_123452', email='shin52@naver.com')
            #user = User(username=ws.cell(row,1).value, password=ws.cell(row,2).value, email=ws.cell(row,3).value)
            question = Question(our_ref=ws.cell(row,1).value, pay_date=ws.cell(row,2).value, req_name=ws.cell(row,3).value, cus_name=ws.cell(row,4).value, date=ws.cell(row,5).value, number=ws.cell(row,6).value, q_date=ws.cell(row,7).value, q_d_date=ws.cell(row,8).value, d_d_date=ws.cell(row,9).value, d_d_num=ws.cell(row,10).value, p_name=ws.cell(row,11).value, charge_01=ws.cell(row,12).value, charge_02=ws.cell(row,13).value, p_charge=ws.cell(row,14).value, create_date=datetime.now())
            #user = User(username=ws.cell(row,1).value, password=ws.cell(row,2).value, email=ws.cell(row,3).value)
            #print(question)
            db.session.add(question)
            db.session.commit()
            #print('사용자 정보를 생성 하였습니다.')
        except:
            db.session.rollback()
            #print('입력에 에러가 발생 하였습니다.')
            pass
        finally:
            db.session.close()
        #print(a," 번째 작업을 종료 합니다.")
        a = a+1
        #print('='*10)

print("최종 작업 이후 Question모델 데이터 개수 : ", Question.query.count())
print("작업 진행 데이터 개수 : ", a)

최초 시작시 Question모델 데이터 개수 :  0
최종 작업 이후 Question모델 데이터 개수 :  1307
작업 진행 데이터 개수 :  1308

▲▲▲ 이상 예제 종료(question_list에 적용하는것 => ss_project 적용)

#-------------

▼▼▼ 이하 예제 시작(pybo 예제)

In [1]:
from pybo.models import User
from pybo import db

In [2]:
from pybo.forms import UserCreateForm, UserLoginForm
from flask import Blueprint, url_for, render_template, flash, request, session, g
from werkzeug.security import generate_password_hash, check_password_hash
from werkzeug.utils import redirect

In [3]:
from flask import Flask
from flask_migrate import Migrate
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import MetaData
import config
import config

In [4]:
from pybo import db
import pybo

In [5]:
from openpyxl import load_workbook
from pybo.models import User
from datetime import datetime
from pybo import db, create_app
import pybo

▼▼▼ 예제중에 이게 있어야 했다.

In [6]:
from pybo import create_app
pybo = create_app()
pybo.app_context().push()

▲▲▲ 예제중에 이게 있어야 했다.

In [18]:
print(User.query.count())

14

In [12]:

app = Flask(__name__)
app.config.from_object(config)
    #app.config 환경 변수로 부르기 위해 app.config.from_object(config)코드를 추가함

In [44]:
with app.app_context():
    print(User.query.count())
    try:
        user = User(username='shin12350', password='shin_123450', email='shin50@naver.com')
        print(user)
        db.session.add(user)
        db.session.commit()
        print(User.query.count())
    except:
        db.session.rollback()
        raise
    finally:
        db.session.close()
    #db.create_all()

5
<User (transient 2597423975248)>
6

In [49]:
with app.app_context():
    print(User.query.count())
    try:
        user = User(username='shin12352', password='shin_123452', email='shin52@naver.com')
        print(user)
        db.session.add(user)
        db.session.commit()
        print(User.query.count())
        print('사용자 정보를 생성 하였습니다.')
    except:
        db.session.rollback()
        #raise
        print('사용중인 사용자 정보가 있습니다.')
        pass
    finally:
        db.session.close()
    #db.create_all()
print('종료')

7
<User (transient 2597424733200)>
8
사용자 정보를 생성 하였습니다.
종료

이제 연속해서 하는걸 해보자

원래 볼려고했던 최초 예제 참고

In [27]:
from openpyxl import load_workbook

In [32]:
wb = load_workbook(filename='db_test.xlsx')
ws = wb.active

In [33]:
ws

In [34]:
print(User.query.count())

20

In [35]:
a = 0
with app.app_context():
    print('최초 시작시 User모델 데이터 개수 : ',User.query.count())
    for row in range(1, ws.max_row+1):
        try:
            #user = User(username='shin12352', password='shin_123452', email='shin52@naver.com')
            user = User(username=ws.cell(row,1).value, password=ws.cell(row,2).value, email=ws.cell(row,3).value)
            print(user)
            db.session.add(user)
            db.session.commit()
            print('사용자 정보를 생성 하였습니다.')
        except:
            db.session.rollback()
            print('입력에 에러가 발생 하였습니다.')
            pass
        finally:
            db.session.close()
        print(a," 번째 작업을 종료 합니다.")
        a = a+1
        print('='*10)

print("최종 작업 이후 User모델 데이터 개수 : ", User.query.count())

최초 시작시 User모델 데이터 개수 :  20
<User (transient 2788504735120)>
입력에 에러가 발생 하였습니다.
0  번째 작업을 종료 합니다.
==========
<User (transient 2788492368432)>
입력에 에러가 발생 하였습니다.
1  번째 작업을 종료 합니다.
==========
<User (transient 2788504493984)>
입력에 에러가 발생 하였습니다.
2  번째 작업을 종료 합니다.
==========
<User (transient 2788504735504)>
입력에 에러가 발생 하였습니다.
3  번째 작업을 종료 합니다.
==========
<User (transient 2788504599952)>
입력에 에러가 발생 하였습니다.
4  번째 작업을 종료 합니다.
==========
<User (transient 2788504694016)>
입력에 에러가 발생 하였습니다.
5  번째 작업을 종료 합니다.
==========
<User (transient 2788504597072)>
입력에 에러가 발생 하였습니다.
6  번째 작업을 종료 합니다.
==========
<User (transient 2788492356000)>
입력에 에러가 발생 하였습니다.
7  번째 작업을 종료 합니다.
==========
<User (transient 2788504598368)>
입력에 에러가 발생 하였습니다.
8  번째 작업을 종료 합니다.
==========
<User (transient 2788504598080)>
입력에 에러가 발생 하였습니다.
9  번째 작업을 종료 합니다.
==========
<User (transient 2788504490192)>
입력에 에러가 발생 하였습니다.
10  번째 작업을 종료 합니다.
==========
최종 작업 이후 User모델 데이터 개수 :  20

In [ ]:
a = 0
for row in range(1, ws.max_row+1):
    #print(a)
    vegan = ws.cell(row,1).value
    print(vegan)
    a = a+1
    print("종료시점 a : " ,a)
    print("="*10)

In [ ]:
with app.app_context():
    print(User.query.count())
    try:
        user = User(username='shin12352', password='shin_123452', email='shin52@naver.com')
        print(user)
        db.session.add(user)
        db.session.commit()
        print(User.query.count())
        print('사용자 정보를 생성 하였습니다.')
    except:
        db.session.rollback()
        #raise
        print('사용중인 사용자 정보가 있습니다.')
        pass
    finally:
        db.session.close()
    #db.create_all()
print('종료')